

$color-primary: #070d59;
$color-primary-light: #262c88;
$color-primary-dark: #060a46;
$color-primary-darker: #050941;

$color-secondary-light: #5172c5;
$color-secondary: #1f3c88;
$color-secondary-dark: #566897;

$color-tertiary: #ee6f57;
$color-tertiary-light: #f0ada0;
$color-tertiary-dark: #c54e36;

$color-quadr: #f6f5f5;
$color-quadr-light: #f6f5f5;
$color-quadr-dark: #c5c5c5;

$color-warn:rgb(151, 54, 54);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-twitter: #00acee;
$color-twitter-dark: #018cc4;

$color-facebook: #3b5998;
$color-facebook-dark: #2b406e;

//FONT Family
$logo-font: 'Lobster', cursive;
$h-font: 'Playfair Display', serif;
$p-font: 'Noto Serif', serif;




// FONT-size
$default-font-size: 1.8rem;
$heading-pri-font-size:4rem;
$heading-sec-font-size:3rem;
$heading-tre-font-size:2.5rem;
$heading-quadr-font-size:2rem;
$small-font-size:1.5rem;
$icon-font-size:3rem;

//PADDING
$padding-large:7rem;
$padding-medium:7rem;
$padding-sm:5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;